# All . files are potentially dangerous - by KT convention we exclude them all, and instead allow
# certain files in a conscious manner
.*
~*
!.gitignore
!.*.example
!.python-version

__pycache__

# demo folders
/demo*
