# All . files are potentially dangerous - by KT convention we exclude them all, and instead allow
# certain files in a conscious manner
.*
~*
!.gitignore
!.*.example
!.python-version
!.nvmrc
!.bandit
!.cz.toml
!.dockerignore
!.github
!.mypy.ini
!.pre-commit-config.yaml
!.pytest.ini
!.ruff.toml
!.trivyignore
!.coveragerc

__pycache__

# demo folders
/demo*
