.*
~*
!.gitignore
!.gitattributes
!*.example
!.python-version
!.bumpversion.cfg
!.secrets.baseline
!.pre-commit-config.yaml
!.run
!.nvmrc

*.sqlite3
__pycache__
node_modules
!docs/wiki/**/.attachments
!.keep
