# Default settings file
DJANGO_SETTINGS_MODULE=django_kt_template_by_k_tech.config.settings

DJANGOKTTEMPLATEBYKTECH_SECRET_KEY='django-insecure-wpo5rpr^yzgsc6@u!=3mgy)*38(lzcc0d0xzo+w8z13me&%7@d'

# Set to `True` for development.
DJANGOKTTEMPLATEBYKTECH_DEBUG=True
#DJANGOKTTEMPLATEBYKTECH_DEBUG=False

# Database options. By default use SQLite.
DJANGOKTTEMPLATEBYKTECH_DATABASE_URL="sqlite:///django_kt_template_by_k_tech.db"

DJANGOKTTEMPLATEBYKTECH_ADMIN_EMAIL=noreply@ktech.it
DJANGOKTTEMPLATEBYKTECH_ADMIN_USERNAME=admin
DJANGOKTTEMPLATEBYKTECH_ADMIN_PASSWORD=admin