.git/
.gitignore
.github/

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.cache/
.coverage
~build/

frontend/node_modules/
frontend/dist/

~data/

tests/
docs/

.env
.env-docker
.env.example
.env-docker.example
.envrc
.envrc.example
.secrets.baseline
.bandit

.pre-commit-config.yaml
.mypy.ini
.ruff.toml
.cz.toml
.python-version
.pytest.ini
mkdocs.yml

.idea/
.claude/

docker-compose.yml

CONTRIBUTING.md