DEBUG=True
LOGGING_LEVEL='DEBUG'
TIME_ZONE='UTC'
SECRET_KEY='django-insecure-change-me'
ALLOWED_HOSTS=*
DATABASE_URL='postgres://postgres:postgres@localhost:5432/{{ cookiecutter.package_name }}'
PGPASSWORD='postgres'
DJANGO_SUPERUSER_USERNAME='admin'
DJANGO_SUPERUSER_EMAIL='admin@example.com'
DJANGO_SUPERUSER_PASSWORD='admin'
STATIC_URL='/static/'
STATIC_ROOT='~data/static'
MEDIA_URL='/media/'
MEDIA_ROOT='~data/media'
LOCAL_APPS='django_extensions'
{% if cookiecutter.use_celery == "yes" %}CELERY_BROKER_URL='redis://localhost:6379/0'
{% endif %}DJANGO_SETTINGS_MODULE='{{ cookiecutter.package_name }}.config.settings'