__pycache__/
*.py[codz]
*$py.class
*.so

build/
dist/
*.egg-info/
*.egg

.coverage
.coverage.*
.cache
htmlcov/
coverage.xml
.pytest_cache/

*.log
*.mo
*.pot
db.sqlite3
db.sqlite3-journal

__pypackages__/
celerybeat-schedule
celerybeat.pid

.env
.envrc
.venv
env/
venv/

/site
.mypy_cache/
.dmypy.json
.ruff_cache/
.pytype/
cython_debug/

.idea/
# .vscode/

frontend/node_modules/
frontend/dist/

/~data/
/~build/
/.env-docker