ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=True
DATABASE_URL=sqlite:///demo.db
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
USE_TZ=True
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
SECRET_KEY=<insecure_key>
