# All . files are potentially dangerous - by KT convention we exclude them all, and instead allow
# certain files in a conscious manner
.*
~*
!.gitignore
!tests/.coveragerc
!.*.example
!.secrets.baseline
!.cz.toml
!.pre-commit-config.yaml
!.github


# Potentially hold testing secrets
*.private.env.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


coverage.xml
