DJANGO_SETTINGS_MODULE={{cookiecutter.project__module}}.config.settings

SECRET_KEY='django-insecure-123456789'

# Set to `True` for development.
DEBUG=True
#DEBUG=False

# Database options. By default use SQLite.
#DATABASE_URL="sqlite:///{{cookiecutter.project__module}}.db"
DATABASE_URL=postgres://postgres:password@172.17.0.1:5416/{{cookiecutter.project__module}}

ADMIN_EMAIL=noreply@ktech.it
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# DDT_KEY=<your secret ddt key>>


# Registry
# DOCKER_REGISTRY=nexus.k-tech.it
# DOCKER_USR=<username>
# DOCKER_PWD=<pwd>